{% extends 'base.html' %}

{% block content %}

<!-- 예외처리 부분 -->
{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<br>
<div class="container">
    <h1>Login</h1>

    <!-- url로 데이터를 전송하기 위해서 REST 중 하나인 POST를 method로 이용하게 된다 -->
    <form method="POST" action="{% url 'login' %}">

    <!-- 아래의 1줄은 form 내용을 url으로 전송할 때 보안을 위해 사용되는 코드임 -->
    {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
</div>

{% endblock %}