<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>홍익대학교 Q&A</title>

    <!--아래 두 줄은 static 파일의 css를 불러오기 위한 코드-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/start.css' %}">

  </head>
  <body>

    <div style="background-color: black">
      <div class="box0 pos1" style="font-weight: bold;">홍익대학교 컴퓨터공학과 Q&A</div>
    </div>

    <div style="border-bottom: 1px dashed #d1d1d1">
      <div class="box1 pos1" style="color: #000; font-size: 20px;">
        <table style="width: 100%;">
          <tr><td>1학년</td> <td>2학년</td> <td>3학년</td> <td>4학년</td></tr>
        </table>
        <div class="box2">
          <a href="write/">POST 작성</a>
        </div>

        <!--view의 start에서 넘겨준 posts 에 대해 for 문을 실행-->
        {% for post in posts.all %}
        <div class="box3">{{ post.title }}</div>
        <div class="box4">{{ post.body }}</div>
        {% endfor %}

      </div>
    </div>

    <div class="etc">
      <span style="color: #999">주소: 서울특별시 영등포구 국제금융로, E-MAIL: williamson@naver.com</span><br>
      <span style="color: #000">Copyright © Yoo Hyun Woo, Son Sung Yong, All Rights Reserved.</span>
    </div>

  </body>
</html>
