{% extends 'base.html' %}

{% block content %}

  <div style="background-color: black">
   <div class="box0 pos1" style="font-weight: bold;">홍익대학교 컴퓨터공학과 Q&A</div>
  </div>

  <div style="border-bottom: 1px dashed #d1d1d1">
    <div class="box1 pos1" style="color: #000; font-size: 20px;">
      <table style="width: 100%;">
        <tr><td>1학년</td> <td>2학년</td> <td>3학년</td> <td>4학년</td></tr>
      </table>

      <!-- view의 start에서 넘겨준 posts 에 대해 for 문을 실행 -->
      {% for post in posts.all %}
      <div class="box3">{{ post.title }}</div>
      <div class="box4">{{ post.body }}</div>
      {% endfor %}

    </div>
  </div>

{% endblock %}

<!-- extends base.html 과 block base.html ~ endblock 부분에 대한 설명 -->
<!-- html을 작성하다 보면 네비게이션 바나 전체적인 틀이 중복되는 경우가 있다
     이 내용을 모든 html파일에 포함 시키면 수정사항이 발생 됐을 때 모든 html 파일을 수정해야되는 상황이 발생할 것이다
     이를 위해서 프로젝트 폴더 내 (이 프로젝트의 경우 HongikQnA 프로젝트) templates 폴더를 생성한 후에 그 아래에 base.html을 작성한다 
     중복이 되는 뼈대를 그 base.html 파일에 작성을 한 뒤에 settings.py의 TEMPLATES의 DIRS에 그 경로(이 경우엔 HongikQnA/templates)를 포함
     그리고 base.html을 포함시키는 코드가 바로 extends base.html 이고
     block content ~ endblock 사이에 매번 바뀌는 내용이 들어가며 이는 base html의 contents부분에 들어가게 된다
     -->