<!-- 부트스트랩의 CDN을 적용하였다 사용법은 https://getbootstrap.com/docs/4.3/layout/overview/ 여기를 참고하면 정말 좋다 -->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>홍익대학교 Q&A</title>

    <!--아래 두 줄은 우리가 직접 작성한 static 파일의 css를 불러오기 위한 코드-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/start.css' %}">
  
    <!-- 부트스트랩을 이용하기 위해 추가해야 하는 내용 헤드에 들어가야 한다 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>

    <!-- 부트스트랩을 통해 추가한 네비게이션 바 -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <a class="navbar-brand" href="/">HUCE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'start' %}">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'write' %}">Create Post</a>
          <a class="nav-item nav-link" href="{% url 'source' %}">Sources</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">service not prepared</a>
        </div>
      </div>
    </nav>

    <!-- 이 div 부분이 페이지에 따라 달라지는 부분이다 그 이외의 네비게이션 바 등등의 요소들은 반복되는 부분임 -->
    <div class="">
        {% block content %}
        {% endblock %}
    </div>

    <div class="etc">
      <span style="color: #999">주소: 서울특별시 영등포구 국제금융로, E-MAIL: williamson@naver.com</span><br>
      <span style="color: #000">Copyright © Yoo Hyun Woo, Son Sung Yong, All Rights Reserved.</span>
    </div>

    <!-- 아래 script 3줄은 부트스트랩 JS를 이용하기 위해서 추가해야되는 부분 body의 마지막에 들어가야 한다 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
